.colaborador {
  width: 280px;
  margin-bottom: 24px;
 position: relative;
}
.encabezado {
    background-color: #f0f0f0;
    border-radius: 10px 10px 0px 0px;
}

.imagen {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position:relative;
    bottom:-50px;
}

.detalle {
    background-color: #fff;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
    min-height: 100px;
    font-family: "Montserrat";
    font-size:18px;
    line-height: 22px;
    font-weight: bold;
   
}
.detalle h4{
    color:#6278f7;
    margin-bottom: 8px;
}
.dellate h5{
    color:#212121;
    padding: 0 24px;
    margin:0;

}
.eliminar{
    position: absolute;
    right:-15px;
    top:-15px;
}