.equipos {
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  text-align: center;
  font-size: 32px;

}
.cambioColor{
  position: relative;
}

.inputColor{
  position:absolute;
  display: inline-block;
  top:10px;
  right:10px
}

.equipos h3 {
  font-weight: 400;
  font-family: "Prata", serif;
  color: #212121;
  border-bottom: 4px solid;
  display:inline-block;
  padding-bottom: 8px;
}
.colaboradores{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
